<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="iisnode-socketio" path="app.js" verb="*" modules="iisnode" />
        </handlers>
        <rewrite>
            <rules>

            </rules>
        </rewrite>
        <webSocket enabled="false"/>
    </system.webServer>
</configuration>
